<div class="fruitlist">
    <div *ngFor="let fruit of fruits" class="card-shadow card flipcard-container">
        <img class="card-img-top fruit-img" [src]="fruit.picture">
        <div class="card-body">
            <h5 class="card-title">{{fruit.name}}&nbsp;&nbsp;&nbsp;<p class="card-text text-muted small">${{fruit.price}} {{fruit.unit}}</p></h5>
            <p class="card-text">{{fruit.description}}</p>
            <p class="card-text">{{fruit.address}},{{fruit.city}},{{fruit.state}},{{fruit.zipcode}}</p>
            <p class="card-text">{{fruit.pickTimeFrom}}--{{fruit.pickTimeTo}} on weekend</p>
        </div>
    </div>
</div>
<h3 class="noSearchResult" *ngIf="fruits.length==0">No Scheduled Pickup</h3>

